<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.setsoftware.reviewtool.summary.ReviewContentSummaryView"
            id="de.setsoftware.reviewtool.summary.ReviewContentSummaryView"
            inject="true"
            name="Summary of review content">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.setsoftware.reviewtool.ui.perspective.reviewPerspective">
         <view
               id="de.setsoftware.reviewtool.summary.ReviewContentSummaryView"
               ratio="0.5"
               relationship="stack"
               relative="de.setsoftware.reviewtool.ui.views.reviewcontentview">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
