/.metadata
/.recommenders
/de.setsoftware.reviewtool/bin
/de.setsoftware.reviewtool/.settings
/de.setsoftware.reviewtool.tests/target
/de.setsoftware.reviewtool.tests/.settings
/de.setsoftware.reviewtool.tests/bin
/de.setsoftware.reviewtool/target
/de.setsoftware.reviewtool.updatesite/target
/de.setsoftware.reviewtool.feature/target
/build-tools/target
/hackystat-8.4.127-services-bin
/.mvn
/de.setsoftware.reviewtool.core/target
/de.setsoftware.reviewtool.core/bin
/de.setsoftware.reviewtool.changesources.svn/target
/de.setsoftware.reviewtool.changesources.svn/bin
