<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.setsoftware.reviewtool.configurator" name="reviewtoolConfigurator" schema="schema/de.setsoftware.reviewtool.configurator.exsd"/>
   <extension point="org.eclipse.ui.menus">
	 <!--<menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
	   <command commandId="de.setsoftware.reviewtool.commands.addremark"
	   		 label="Reviewanmerkung hinzufügen" 
	   		 style="push">
	   		 <!- -<visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.jdt.core.ICompilationUnit">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>- ->
	   </command>
	 </menuContribution>-->
	 <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
	   <menu label="CoRT code review">
		   <command commandId="de.setsoftware.reviewtool.commands.startreview"
		   		 label="Start review ..." 
		   		 style="push">
		   		 <visibleWhen
	                  checkEnabled="false">
	               <with variable="de.setsoftware.reviewtool.mode">
	                  <equals value="IDLE"/>
	               </with>
	            </visibleWhen>
		   </command>
		   <command commandId="de.setsoftware.reviewtool.commands.endreview"
		   		 label="End review ..." 
		   		 style="push">
		   		 <visibleWhen
	                  checkEnabled="false">
	               <with variable="de.setsoftware.reviewtool.mode">
	                  <equals value="REVIEWING"/>
	               </with>
	            </visibleWhen>
		   </command>
		   <command commandId="de.setsoftware.reviewtool.commands.startfixing"
		   		 label="Start fixing ..." 
		   		 style="push">
		   		 <visibleWhen
	                  checkEnabled="false">
	               <with variable="de.setsoftware.reviewtool.mode">
	                  <equals value="IDLE"/>
	               </with>
	            </visibleWhen>
		   </command>
		   <command commandId="de.setsoftware.reviewtool.commands.endfixing"
		   		 label="End fixing ..." 
		   		 style="push">
		   		 <visibleWhen
	                  checkEnabled="false">
	               <with variable="de.setsoftware.reviewtool.mode">
	                  <equals value="FIXING"/>
	               </with>
	            </visibleWhen>
		   </command>
		   <command commandId="de.setsoftware.reviewtool.commands.addremark"
		   		 label="Add review remark ..." 
		   		 style="push">
		   		 <visibleWhen
	                  checkEnabled="false">
	               <with variable="de.setsoftware.reviewtool.mode">
	                  <equals value="REVIEWING"/>
	               </with>
	            </visibleWhen>
		   </command>
		   <command commandId="de.setsoftware.reviewtool.commands.nextunvisitedstop"
		   		 label="Jump to next unvisited review stop" 
		   		 style="push">
		   		 <visibleWhen
	                  checkEnabled="false">
	               <with variable="de.setsoftware.reviewtool.mode">
	                  <equals value="REVIEWING"/>
	               </with>
	            </visibleWhen>
		   </command>
		   <command commandId="de.setsoftware.reviewtool.commands.refreshmarkers"
		   		 label="Reload review remarks" 
		   		 style="push">
		   		 <visibleWhen
	                  checkEnabled="false">
	               <with variable="de.setsoftware.reviewtool.mode">
	               	  <or>
	                    <equals value="REVIEWING"/>
	                    <equals value="FIXING"/>
	                  </or>
	               </with>
	            </visibleWhen>
		   </command>
	   </menu>
	 </menuContribution>
	 <menuContribution locationURI="popup:de.setsoftware.reviewtool.ui.views.reviewcontentview?after=additions">
	   <command commandId="de.setsoftware.reviewtool.commands.mergetours"
	   		 label="Merge review tours" 
	   		 style="push">
	   		 <visibleWhen>
	   		   <with variable="activeMenuSelection">
                 <count value="(1-"/>
                 <iterate>
                   <adapt type="de.setsoftware.reviewtool.model.changestructure.Tour">
                   </adapt>
                 </iterate>
               </with>
             </visibleWhen>
	   </command>
	 </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
     <command defaultHandler="de.setsoftware.reviewtool.ui.popup.actions.AddRemarkAction"
        id="de.setsoftware.reviewtool.commands.addremark" name="Add review remark">
     </command>
     <command defaultHandler="de.setsoftware.reviewtool.ui.popup.actions.JumpToNextUnvisitedStopAction"
        id="de.setsoftware.reviewtool.commands.nextunvisitedstop" name="Jump to next review stop">
     </command>
     <command defaultHandler="de.setsoftware.reviewtool.ui.popup.actions.StartReviewAction"
        id="de.setsoftware.reviewtool.commands.startreview" name="Start review">
     </command>
     <command defaultHandler="de.setsoftware.reviewtool.ui.popup.actions.EndReviewAction"
        id="de.setsoftware.reviewtool.commands.endreview" name="End review">
     </command>
     <command defaultHandler="de.setsoftware.reviewtool.ui.popup.actions.StartFixingAction"
        id="de.setsoftware.reviewtool.commands.startfixing" name="Start fixing">
     </command>
     <command defaultHandler="de.setsoftware.reviewtool.ui.popup.actions.EndFixingAction"
        id="de.setsoftware.reviewtool.commands.endfixing" name="End fixing">
     </command>
     <command defaultHandler="de.setsoftware.reviewtool.ui.popup.actions.RefreshReviewMarkersAction"
        id="de.setsoftware.reviewtool.commands.refreshmarkers" name="Refresh review markers">
     </command>
     <command defaultHandler="de.setsoftware.reviewtool.ui.popup.actions.MergeToursAction"
        id="de.setsoftware.reviewtool.commands.mergetours" name="Merge review tours">
     </command>
   </extension>

	<extension id="de.setsoftware.reviewtool.reviewmarker" point="org.eclipse.core.resources.markers" name="Review remark">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.eclipse.core.resources.textmarker"/>
		<persistent value="false"/>
		<attribute name="de.setsoftware.reviewtool.markerattributes.remarktype"/>
		<attribute name="de.setsoftware.reviewtool.markerattributes.resolution"/>
		<attribute name="de.setsoftware.reviewtool.markerattributes.position"/>
	</extension>
	
    <extension id="de.setsoftware.reviewtool.tourStopMarker" point="org.eclipse.core.resources.markers" name="Review tour stop">
        <super type="org.eclipse.core.resources.textmarker"/>
    </extension>

	<extension
		point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			markerType="de.setsoftware.reviewtool.reviewmarker"
			class="de.setsoftware.reviewtool.ui.popup.actions.MarkerResolutionGenerator">
		</markerResolutionGenerator>
	</extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="de.setsoftware.reviewtool.commands.addremark"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M3+4">
    </key>
    <key
          commandId="de.setsoftware.reviewtool.commands.nextunvisitedstop"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M3+5">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.services">
    <sourceProvider
          provider="de.setsoftware.reviewtool.plugin.ReviewPluginModeService">
       <variable
             name="de.setsoftware.reviewtool.mode"
             priorityLevel="workbench">
       </variable>
    </sourceProvider>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="de.setsoftware.reviewtool.plugin.ReviewToolPreferencePage"
          id="de.setsoftware.reviewtool.preferences"
          name="CoRT review settings">
    </page>
 </extension>
 
 <extension
      point="org.eclipse.ui.editors.annotationTypes">
    <type
          name="de.setsoftware.reviewtool.ui.tourStopAnnotation"
          super="org.eclipse.ui.workbench.texteditor.info"
          markerType="de.setsoftware.reviewtool.tourStopMarker">
    </type>
 </extension>
 <extension
      point="org.eclipse.ui.editors.markerAnnotationSpecification">
    <specification
            annotationType="de.setsoftware.reviewtool.ui.tourStopAnnotation"
            colorPreferenceKey="tourStop_color"
            colorPreferenceValue="202,202,255"
            contributesToHeader="false"
            highlightPreferenceKey="tourStop_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="tourStop_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="tourStop_isGoToPreviousNavigationTargetKey"
            label="To review"
            overviewRulerPreferenceKey="tourStop_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="tourStop_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="tourStop_text"
            textPreferenceValue="true"
            textStylePreferenceKey="tourStop_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="tourStop_verticalRuler"
            verticalRulerPreferenceValue="true"
            symbolicIcon="bookmark"/>
 </extension>

 <extension point="org.eclipse.ui.views">
        <view id="de.setsoftware.reviewtool.ui.views.reviewinfoview"
             name="Review info"
             class="de.setsoftware.reviewtool.ui.views.ReviewInfoView"/>
             <!-- icon="icons\view.gif"/> -->
        <view id="de.setsoftware.reviewtool.ui.views.reviewcontentview"
             name="Review content"
             class="de.setsoftware.reviewtool.ui.views.ReviewContentView"/>
        <view id="de.setsoftware.reviewtool.ui.views.fragmentinfoview"
             name="Review stop info"
             class="de.setsoftware.reviewtool.ui.views.StopInfoView"/>
 </extension>

<extension point="org.eclipse.ui.perspectives">
      <perspective
            id="de.setsoftware.reviewtool.ui.perspective.reviewPerspective"
            name="Code Review"
            class="de.setsoftware.reviewtool.ui.perspective.ReviewPerspective">
      </perspective>
</extension>
</plugin>
