<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.setsoftware.reviewtool.ticketconnectors.jira"
         point="de.setsoftware.reviewtool.configurator">
         <configurator
               class="de.setsoftware.reviewtool.ticketconnectors.jira.JiraConnectorConfigurator"/>
   </extension>

</plugin>
